.container {
  max-width: 600px; }

.inline {
  display: inline; }

.text-center {
  text-align: center; }

.red-text {
  color: #9a3408; }

.green-text {
  color: #0c9359; }

.box {
  padding: 20px;
  background: #f3f3f3;
  border-radius: .4rem; }

.full-width {
  width: 100%; }

.monospace {
  font-family: monospace; }

input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='week'], input:not([type]), textarea, select {
  background-color: rgba(255, 255, 255, 0.5); }

.top-spacer {
  height: 2vh; }

h0 {
  font-size: 72px; }

.light-green {
  background-color: #85f1c1; }

.light-red {
  background-color: #dc8e86; }

.black-text {
  color: black; }

.format-result {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px; }

@media (min-width: 576px) {
  .lg-fit-content {
    width: fit-content !important; } }
