<html>
<head>
    <title>date_deformat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.0-beta.4-TQFv5Y2xd4hn2VnTxVul/mode=imports,min/optimized/@hotwired/turbo.js"></script>
</head>
<body>
    <div class="top-spacer"></div>

    <section class="container">
        <div class="padded">
            <h1>date_deformat</h1>
            <h5>Generate Python datetime format strings from your desired output</h5>
        </div>

        <form action="{{ url_for('home') }}" method="get" class="box">
            <div class="row">
                <div class="column">
                    Original time <br>
                    <span class="black-text">{{ time_input }}</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="column">
                    Desired Output <input type="text" name="desired_output" value="{{ desired_output }}">
                </div>
                <div class="column lg-fit-content">
                    <input type="submit" value="Build" class="full-width" style="margin-top: 24px;">
                </div>
            </div>
        </form>

        <div class="center-text box">
            <div class="center-text padded">
                <h5>Result</h5>
                <input class="format-result not-an-input" readonly value="{{ format_result }}">
                <button class="copy-btn" style="vertical-align:top;">
                    Copy
                </button>
            </div>
        </div>

            <p>

    </section>


    <script>
        var copyTextareaBtn = document.querySelector('.copy-btn');

        copyTextareaBtn.addEventListener('click', function(event) {
          var copyTextarea = document.querySelector('.format-result');
          copyTextarea.focus();
          copyTextarea.select();

          try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
          } catch (err) {
            console.log('Oops, unable to copy');
          }
        });
    </script>
</body>
</html>
