<html>
<head>
    <title>date_deformat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.0-beta.4-TQFv5Y2xd4hn2VnTxVul/mode=imports,min/optimized/@hotwired/turbo.js"></script>
</head>
<body>
    <section class="container">
        <div class="top-spacer"></div>

        <div>
            <h1>date_deformat</h1>
            <h5>Generate Python datetime format strings from your desired output</h5>
        </div>

        <form action="{{ url_for('home') }}" method="get" class="box">
            <div class="row">
                <div class="column">
                    Input Time <br>
                    <input class="monospace" type="text" name="input" value="{{ input }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="column">
                    Desired Output
                    <input class="monospace" type="text" name="output" value="{{ output }}">
                </div>
                <div class="column lg-fit-content">
                    <input type="submit" value="Build" class="full-width" style="margin-top: 24px;">
                </div>
            </div>
        </form>

        <div class="text-center box">
            <div class="text-center">
                <h5 class="monospace">datetime_obj.strftime(</h5>
                <div class="format-result monospace">
                    "{{ format_result }}"
                </div>
                <h5 class="monospace">)</h5>
                <button class="copy-btn button-outline">
                    Copy
                </button>
            </div>
        </div>

            <p>

    </section>


    <script>
        var copyTextareaBtn = document.querySelector('.copy-btn');

        copyTextareaBtn.addEventListener('click', function(event) {
            var copyTextarea = document.querySelector('.format-result');
            navigator.clipboard.writeText(copyTextarea.textContent).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
        });
    </script>
</body>
</html>
